#edit_item
  .item
    .item__title
      %h2 商品の情報を入力
    = form_for @item do |f|
      .item__img
        %ul
          %li
            %h3 出品画像
          %li
            .required__icon 必須
        .clearfix
        %p 最大10枚までアップロードできます

        = f.fields_for :item_images, @item.item_images.first do |image|
          .item__img__dropzone.clearfix
            #preview
            -# １〜５枚目プレビュー表示
            .item__img__dropzone__input
              = image.label :image, for: "upload-image" do
                .input-area
                  = image.file_field :image_url, id: "upload-image", class: "upload-image", 'data-image': 0

                .item__img__dropzone__input__description
                  .item__img__dropzone__input__description__text
                    ドラッグアンドドロップ
                    %br
                    またはクリックしてファイルをアップロード

          .item__img__dropzone2.clearfix
            #preview2
            -# ６〜１０枚目プレビュー表示
            .item__img__dropzone2__input2
              = image.label :image, for: "upload-image" do
                .input-area
                  = image.file_field :image_url, id: "upload-image", class: "upload-image", 'data-image': 0
                .item__img__dropzone2__input2__description
                  .item__img__dropzone2__input2__description__text
                    ドラッグアンドドロップ
                    %br
                    またはクリックしてファイルをアップロード