.header
  .header__logo
.contents
  .contents__message
    新規登録画面
   = link_to “https://www.facebook.com/”, class: “contents__btn contents__btn--mail” do
    = icon(‘fab’, ‘facebook-square’,  class: “contents__btn--icon”)
    %span<>
      mailaddress
  = link_to “https://www.facebook.com/”, class: “contents__btn contents__btn--facebook” do
    = icon(‘fab’, ‘facebook-square’,  class: “contents__btn--icon”)
    %span<>
      Facebook
  = link_to “https://www.instagram.com/”, class: “contents__btn contents__btn--instagram” do
    = icon(‘fab’, ‘instagram’, class: “contents__btn--icon”)
    %span<>
      instagram