.new
  = render "items/header2"
  .new__mask
    .new__mask__main
      = render "items/sideber"
      .new__mask__main__showright
        .new__mask__main__showright__title
          = "#{@user.name}さんのマイページ"
        .new__mask__main__showright__card
          = link_to new_card_path ,class: "new__mask__main__showright__card__btn" do
            クレジットカード情報編集
        .new__mask__main__showright__title__panel-default
          .new__mask__main__showright__title__panel-default__panel-heading
            投稿した商品
          .new__mask__main__showright__title__items
            - @exhibitions.each do |exhibition|
              .new__mask__main__showright__title__items__item
                #preview
                .new__mask__main__showright__title__items__image
                  - exhibition.item_images.first(1).each do |image|
                    =image_tag image.image.to_s,class: "index__main__item__image"
                    .upper-message__datebtn
                    
                #preview2
                .new__mask__main__showright__title__items__images
                  - exhibition.item_images.drop(1).each do |image , i|
                    .upper-message__datebtn
                      = form_with model: @exhibitions , url: "#", local: true, method: :delete  do |f|
                        .form-xx
                          = f.submit '削除', class: 'upper-message__btn'
                    =image_tag image.image.to_s , class: "show-images"
                    
                .index__main__pickupContainer__lists__list__itemlink__name
                  商品名:
                  .new__mask__main__showright__title__items__name
                    = exhibition.name
                .index__main__pickupContainer__lists__list__itemlink__price
                  商品の価格:
                  .new__mask__main__showright__title__items__price
                    = exhibition.price
  .index__footer 
    = render "items/footer"
