.index__footer__contents
  .index__footer__contents__content
    .index__footer__contents__content__head
      注目ブランド一覧
    .index__footer__contents__content__list
      = link_to "#", class: "footer__btn" do
        = "しまむら"
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "GU"
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "ZARA"
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "Disney"    
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "adidas"    
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "NIKE"    
  .index__footer__contents__content
    .index__footer__contents__content__head
      コンテンツ
    .index__footer__contents__content__list
      = link_to "#", class: "footer__btn" do
        = "ブランド一覧"
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "カテゴリ一覧"
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "キーワード一覧"
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "ランキング"    
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "買取・相場価格情報"    
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "人気商品チャンネル"    
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "トレンド商品特集"
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "イベント・キャンペーン"
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "フリマラボ"    
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "ネイルデザインブック"    
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "クレジットカード登録/変更" 
  .index__footer__contents__content
    .index__footer__contents__content__head
      ガイド
    .index__footer__contents__content__list
      = link_to "#", class: "footer__btn" do
        = "フリマ公式ガイド"
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "はじめての方へ"
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "お知らせ"
    .index__footer__contents__content__head
      フリマについて
    .index__footer__contents__content__list
      = link_to "#", class: "footer__btn" do
        = "会社概要"
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "プライバシーポリシー"
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "利用規約"
    .index__footer__contents__content__list
      = link_to "#", class: "footer__btn" do
        = "特定商取引法に基づく表記"
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "古物営業法に基づく表記"
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "採用情報"
    .index__footer__contents__content__list 
      = link_to "#", class: "footer__btn" do
        = "お問い合わせ"