.index__header
  .index__header__inner
    .index__header__inner__main
      .index__header__inner__main__icon
        = form_with url: "#", local: true, method: :get do |f|
          .form-group
            =link_to "/" do
              = image_tag "logo.png", alt: "Rails icon", id: "pic1", class: "FURIMA-btn"
            = f.text_field :keyword, class: 'form__sach', placeholder: 'キーワードから探す'
            = button_tag type: 'submit', class: "follow-btn" do
              = icon('fa', 'search')
    .index__header__inner__nav
      .index__header__inner__nav__listsLeft
        = link_to "#", class: "index__header__inner__nav__listsLeft__left-btn" do
          = "カテゴリ" 
        = link_to "#", class: "index__header__inner__nav__listsLeft__left-btn" do
          = "ブランド" 
      .index__header__inner__nav__listsRight
        - if user_signed_in?
          .user_nav.grid-6
            = link_to "ログアウト", destroy_user_session_path, method: :delete
            = link_to  "投稿する", "#", class: "post"
        - else
          .grid-6
            = link_to "ログイン", new_user_session_path, class: "post"
            = link_to "新規登録", users_path, class: "post"
