.index__header
  .index__header__inner
    .index__header__inner__main
      .index__header__inner__main__icon
        = form_with url: "#", local: true, method: :get do |f|
          .form-group
            =link_to "/" do
              = image_tag "logo.png", alt: "Rails icon", id: "pic1", class: "FURIMA-btn"
        = form_with scope: :search,  url: search_items_path, method: :get, local: true,class:"form__sach__new" do |form| 
          = form.text_field :keyword, placeholder: "投稿を検索する", class: "form__sach" 
          = form.submit "検索", class: "follow-btn" 
    .index__header__inner__nav
      .index__header__inner__nav__listsLeft
        = link_to "#", class: "index__header__inner__nav__listsLeft__left-btn" do
          = "カテゴリ" 
        = link_to "#", class: "index__header__inner__nav__listsLeft__left-btn" do
          = "ブランド" 
      .index__header__inner__nav__listsRight
        - if user_signed_in?
          .user_nav.grid-6
            .links
              = link_to "ログアウト", destroy_user_session_path, class: "index__header__inner__nav__listsLeft__left-btn" ,  method: :delete

              .new__header__inner__nav__listsRight__right 
                = link_to image_tag("member_photo_noimage_thumb.png", class: "mypage-btn", alt: "サンプル画像"), user_path(current_user)
                = link_to user_path(current_user), class: "index__header__inner__nav__listsRight__left-btn" do
                  = "マイページ"

        - else
          .grid-6
            = link_to "ログイン", new_user_session_path, class: "post"
            = link_to "新規登録", users_path, class: "post"
