.new__mask__main__left
  .new__main__left__title
    マイページメニュー
  .new__mask__main__left__leftform-group
    = link_to "#", class: "left-form__btn" do
      = "お知らせ"  
  .new__mask__main__left__leftform-group
    = link_to "#", class: "left-form__btn" do
      = "いいねした商品"
  .new__mask__main__left__title
    商品を出品する
  .new__mask__main__left__leftform-group
    = link_to "#", class: "left-form__btn" do
      = "商品を出品する"  
  .new__mask__main__left__leftform-group
    = link_to "#", class: "left-form__btn" do
      = "出品した商品"
  .new__mask__main__left__leftform-group
    = link_to "#", class: "left-form__btn" do
      = "自分のショップを見る"
  .new__mask__main__left__title
    商品を購入する
  .new__mask__main__left__leftform-group
    = link_to "#", class: "left-form__btn" do
      = "購入した商品"  
  .new__mask__main__left__leftform-group
    = link_to "#", class: "left-form__btn" do
      = "最近見た商品"
  .new__mask__main__left__leftform-group
    = link_to "#", class: "left-form__btn" do
      = "コメントした商品"
  .new__mask__main__left__title
    設定・ヘルプ・その他
  .new__mask__main__left__leftform-group
    = link_to "#", class: "left-form__btn" do
      = "売上・ポイント管理"  
  .new__mask__main__left__leftform-group
    = link_to "#", class: "left-form__btn" do
      = "クーポンの確認"
  .new__mask__main__left__leftform-group
    = link_to "#", class: "left-form__btn" do
      = "設定"
  .new__mask__main__left__leftform-group
    = link_to "#", class: "left-form__btn" do
      = "お問い合わせ"  
  .new__mask__main__left__leftform-group
    = link_to "#", class: "left-form__btn" do
      = "FURIMA公式ガイド"
  .new__mask__main__left__leftform-group
    = link_to "#", class: "left-form__btn" do
      = "はじめての方へ"
  .new__mask__main__left__leftform-group
    = link_to "#", class: "left-form__btn" do
      = "ログアウト"