.index
  .index__camera
    = link_to image_tag("icon_camera.png", class: "camera-btn", alt: "サンプル画像"), root_path
  = render "header"
  .index__main
    .index__main__visual
      .index__main__visual__content
        .index__main__visual__content__subtitle
          人生を変えるフリマアプリ
        .index__main__visual__content__text
          FURIMAはだれでもかんたんに出品・購入できる
          %br
          フリマアプリです
        .index__main__visual__content__btn
          = link_to image_tag("5a902db97f96951c82922874.png", class: "APPstore-btn", alt: "サンプル画像"), root_path
          = link_to image_tag("google-play-badge.png", class: "Googleplay-btn", alt: "サンプル画像"), root_path
    .index__main__topIntroduction
      .index__main__topIntroduction__subtitle
        .index__main__topIntroduction__subtitle__bottom
        FURIMAが選ばれる3つの理由
      .index__main__topIntroduction__lists
        .index__main__topIntroduction__lists__pict
          .index__main__topIntroduction__lists__pict__number
            1
          = image_tag "pict-reason-01.jpg", alt: "Rails icon", id: "pic1", class: "topIntroduction-leftimage"
          .index__main__topIntroduction__lists__texts
            .index__main__topIntroduction__lists__texts__colortext
              ３分 
            .index__main__topIntroduction__lists__texts__text
              ですぐに出品
          .index__main__topIntroduction__lists__description
            スマホで入力するだけで簡単に出品できる！
        .index__main__topIntroduction__lists__pict
          .index__main__topIntroduction__lists__pict__number
            2
          = image_tag "pict-reason-02.jpg", alt: "Rails icon", id: "pic1", class: "topIntroduction-centerimage"
          .index__main__topIntroduction__lists__texts
            .index__main__topIntroduction__lists__texts__colortext
              シンプル 
            .index__main__topIntroduction__lists__texts__text
              で使いやすい
          .index__main__topIntroduction__lists__description       
            めんどくさい入力は必要なく、検索も購入もスムーズ！
        .index__main__topIntroduction__lists__pict
          .index__main__topIntroduction__lists__pict__number
            3
          = image_tag "pict-reason-03.jpg", alt: "Rails icon", id: "pic1", class: "topIntroduction-rightimage"
          .index__main__topIntroduction__lists__texts
            .index__main__topIntroduction__lists__texts__text
              手数料
            .index__main__topIntroduction__lists__texts__colortext
              業界最安            
          .index__main__topIntroduction__lists__description
            スマホで入力するだけで簡単に出品できる！
    .index__main__topMiddleDl
      .index__main__topMiddleDl__inner
        .index__main__topMiddleDl__inner__toptext
          会員数日本一位
        .index__main__topMiddleDl__inner__text
          FURIMAは、フリマアプリで最も人気。
          %br
          出品・購入回数も業界最多です！
          %br
          ほしかったあの商品に出会えるかもしれません。
        .index__main__topMiddleDl__inner__btn
          = link_to image_tag("5a902db97f96951c82922874.png", class: "APPstore-btn", alt: "サンプル画像"), root_path
          = link_to image_tag("google-play-badge.png", class: "Googleplay-btn", alt: "サンプル画像"), root_path
    .index__main__topIntroduction
      .index__main__topIntroduction__subtitle
        .index__main__topIntroduction__subtitle__bottom
        FURIMAの特徴
    .index__main__items
      .index__main__items__item
        = image_tag "icon-01.png", alt: "Rails icon", id: "pic1", class: "item-image"
        .index__main__items__item__subtitle
          簡単に売り買いできる
        .index__main__topIntroduction__subtitle__items__item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .index__main__items__item
        = image_tag "icon-03.png", alt: "Rails icon", id: "pic1", class: "item-image"
        .index__main__items__item__subtitle
          簡単に売り買いできる
        .index__main__items__item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .index__main__topIntroduction__subtitle__items__item
        = image_tag "icon-04.png", alt: "Rails icon", id: "pic1", class: "item-image"
        .index__main__items__item__subtitle
          簡単に売り買いできる
        .index__main__items__item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    .index__main__pickupContainer
      .index__main__pickupContainer__head
        ピックアップカテゴリー
      .index__main__pickupContainer__headbottom
        新規新規投稿商品
      .index__main__pickupContainer__lists
        .index__main__pickupContainer__lists__list
          .index__main__pickupContainer__lists__list__link
            四角
          .index__main__pickupContainer__lists__list__link
            四角
          .index__main__pickupContainer__lists__list__link
            四角
      .index__main__pickupContainer__head
        ピックアップブランド
      .index__main__pickupContainer__headbottom
        アーカイバ
      .index__main__pickupContainer__lists
        .index__main__pickupContainer__lists__list
          .index__main__pickupContainer__lists__list__link
            四角
          .index__main__pickupContainer__lists__list__link
            四角
          .index__main__pickupContainer__lists__list__link
            四角
  .index__appBanner
    .index__appBanner__inner
      .index__appBanner__inner__title
        だれでもかんたん、人生を変えるフリマアプリ
      .index__appBanner__inner__text
        今すぐ無料ダウンロード！
      .index__appBanner__inner__icon
        = link_to image_tag("5a902db97f96951c82922874.png", class: "APPstore-btn", alt: "サンプル画像"), root_path
        = link_to image_tag("google-play-badge.png", class: "Googleplay-btn", alt: "サンプル画像"), root_path
  = render "footer"

              
          
