.new

  .new__header
    .new__header__inner
      .new__header__inner__top
        .form-group
          -if user_signed_in?
            = link_to image_tag("logo.png", class: "FURIMA-btn", alt: "サンプル画像"), root_path
        .form-seachs
          = form_with url: "#", class: "form-sarch" , local: true, method: :get do |f|
            = f.text_field :keyword, class: 'form__sach', placeholder: '何をお探しですか？'
            = button_tag type: 'submit', class: "follow-btn" do
              = icon('fa', 'search')
      .new__header__inner__nav
        .new__header__inner__nav__listsLeft
          = link_to "#", class: "index__header__inner__nav__listsLeft__left-btn" do
            = "カテゴリから探す" 
          = link_to "#", class: "index__header__inner__nav__listsLeft__left-btn" do
            = "ブランドから探す" 
        .new__header__inner__nav__listsRight
          .new__header__inner__nav__listsRight__left
            = link_to "#" , class: "bell-btn" do
              = icon('fa', 'bell')
            = link_to "#", class: "index__header__inner__nav__listsRight__left-btn" do
              = "お知らせ"
          .new__header__inner__nav__listsRight__right 
            = link_to image_tag("member_photo_noimage_thumb.png", class: "mypage-btn", alt: "サンプル画像"), root_path
            = link_to "#", class: "index__header__inner__nav__listsRight__left-btn" do
              = "マイページ"

  .new__mask
    .new__mask__main
      = render "sideber"
      .new__mask__main__right
        .new__mask__main__right__top-image
          = form_with model: @item , url: {action: 'create'},local: true do |f|
            .new__mask__main__right__form-contents__title__content 
              画像（４枚までアップロード可能）
            .new__mask__main__right__form-contents__title__color-content 
              ※必須
            .post__drop__box__container
              .prev-content
              .label-content
                %label{for: "item_images_attributes_0_image", class: "label-box", id: "label-box--0"}
                  %pre.label-box__text-visible クリックしてファイルをアップロード
                .hidden-content
                  = f.fields_for :item_images do |i|
                    = i.file_field :image, class: 'hidden-field', id: "item_images_attributes_0_image"
                    %input{class:"hidden-field", type: "file", name: "item[item_images_attributes][1][image]", id: "item_images_attributes_1_image" }
                    %input{class:"hidden-field", type: "file", name: "item[item_images_attributes][2][image]", id: "item_images_attributes_2_image" }
                    %input{class:"hidden-field", type: "file", name: "item[item_images_attributes][3][image]", id: "item_images_attributes_3_image" }
                    %input{class:"hidden-field", type: "file", name: "item[item_images_attributes][4][image]", id: "item_images_attributes_4_image" }

            .new__mask__main__right__form-contents
              .new__mask__main__right__form-contents__title
                .new__mask__main__right__form-contents__title__content 
                  商品名
                .new__mask__main__right__form-contents__title__color-content 
                  ※必須
              .new__mask__main__right__form-contents__form
                = f.text_field :name, class: 'Product-name', placeholder: '40文字まで'
            .new__mask__main__right__form-contents
              .new__mask__main__right__form-contents__title
                .new__mask__main__right__form-contents__title__content
                  商品説明
                .new__mask__main__right__form-contents__title__color-content 
                  ※必須
              .new__mask__main__right__form-contents__form
                = f.text_area :text, class: 'Product-Description', placeholder: '色・素材・重さ・定価・注意点などを記載しましょう（1000文字まで）例:先月に5,400円で購入したセーターです。着用回数は5回未満です。素材はカシミヤなので着心地がいいです。'
            .new__mask__main__right__line
            .new__mask__main__right__form-contents
              .new__mask__main__right__form-contents__title
                .new__mask__main__right__form-contents__title__content 
                  カテゴリ
                .new__mask__main__right__form-contents__title__color-content 
                  ※必須
              .listing-select-wrapper
                .listing-select-wrapper__box
                = f.collection_select :category_id, Category.where(ancestry: nil),:id,:name, {prompt: '---'}, {class: 'listing-select-wrapper__box--select', id: 'parent_category',}
                .listing-product-detail__category
                  .listing-product-detail__category__2
            .new__mask__main__right__form-contents
              .new__mask__main__right__form-contents__title
                .new__mask__main__right__form-contents__title__content 
                  ブランド
              .new__mask__main__right__form-contents__form-btn
                = f.collection_select :brand_id , Brand.all,:id,:name,{prompt: '---'}, {class: "Exhibition__btn"} 
            .new__mask__main__right__form-contents
              .new__mask__main__right__form-contents__title
                .new__mask__main__right__form-contents__title__content 
                  商品の状態
                .new__mask__main__right__form-contents__title__color-content 
                  ※必須
              .new__mask__main__right__form-contents__form-btn
                = f.collection_select :condition_id , Condition.all ,:id,:condition,{}, {class: "Exhibition__btn"}
            .new__mask__main__right__line
            .new__mask__main__right__form-contents
              .new__mask__main__right__form-contents__title
                .new__mask__main__right__form-contents__title__content 
                  発送料の負担
                .new__mask__main__right__form-contents__title__color-content 
                  ※必須
              .new__mask__main__right__form-contents__form-btn
                = f.collection_select :deliverycharge_id , Deliverycharge.all ,:id,:price,{}, {class: "Exhibition__btn"}
            .new__mask__main__right__form-contents
              .new__mask__main__right__form-contents__title
                .new__mask__main__right__form-contents__title__content 
                  発送日の目安
                .new__mask__main__right__form-contents__title__color-content 
                  ※必須
              .new__mask__main__right__form-contents__form-btn
                = f.collection_select :deliveryspend_id, Deliveryspend.all,:id,:spend,{}, {class: "Exhibition__btn"}
            .new__mask__main__right__form-contents
              .new__mask__main__right__form-contents__title
                .new__mask__main__right__form-contents__title__content 
                  発送元の地域
                .new__mask__main__right__form-contents__title__color-content 
                  ※必須
              .new__mask__main__right__form-contents__form-btn
                = f.collection_select :deliveryaddres_id , Deliveryaddre.all, :id, :prefecture, {}, {class: "Exhibition__btn"}
            .new__mask__main__right__line
            .new__mask__main__right__form-contents
              .new__mask__main__right__form-contents__title
                .new__mask__main__right__form-contents__title__content 
                  商品価格
                .new__mask__main__right__form-contents__title__color-content 
                  ※必須
              .new__mask__main__right__form-contents__form-btn
                .new__mask__main__right__form-contents__form
                  = f.text_field :price, class: 'Product-name', placeholder: '¥300~¥9999999'
            .new__mask__main__right__form-contents__Verification
              = f.submit '確認する', class: 'Verification-btn'
   
  .index__footer 
    = render "footer2"



              
      
