.new
  = render "header2"
  .new__mask
    .new__mask__main
      = render "sideber"
      .new__mask__main__right
        .new__mask__main__right__top-image
          = form_with model: @items , url: "#", local: true, method: :get do |f|
            .new__mask__main__right__top
              = f.label:image, class: "form-btn__image" do
                = icon('fas', 'camera', class: 'camera')
                = f.file_field :image, class: 'hidden'
              = f.label:image, class: "form-btn__image" do
                = icon('fas', 'camera', class: 'camera')
                = f.file_field :image, class: 'hidden'
              = f.label:image, class: "form-btn__image" do
                = icon('fas', 'camera', class: 'camera')
                = f.file_field :image, class: 'hidden'
              = f.label:image, class: "form-btn__image" do
                = icon('fas', 'camera', class: 'camera')
                = f.file_field :image, class: 'hidden'
            .new__mask__main__right__form-contents
              .new__mask__main__right__form-contents__title
                .new__mask__main__right__form-contents__title__content 
                  商品名
                .new__mask__main__right__form-contents__title__color-content 
                  ※必須
              .new__mask__main__right__form-contents__form
                = f.text_field :name, class: 'Product-name', placeholder: '40文字まで'
            .new__mask__main__right__form-contents
              .new__mask__main__right__form-contents__title
                .new__mask__main__right__form-contents__title__content
                  商品説明
                .new__mask__main__right__form-contents__title__color-content 
                  ※必須
              .new__mask__main__right__form-contents__form
                = f.text_area :name, class: 'Product-Description', placeholder: '色・素材・重さ・定価・注意点などを記載しましょう（1000文字まで）例:先月に5,400円で購入したセーターです。着用回数は5回未満です。素材はカシミヤなので着心地がいいです。'
            .new__mask__main__right__line
            .new__mask__main__right__form-contents
              .new__mask__main__right__form-contents__title
                .new__mask__main__right__form-contents__title__content 
                  カテゴリ
                .new__mask__main__right__form-contents__title__color-content 
                  ※必須
              .listing-select-wrapper
                .listing-select-wrapper__box
                = f.select :category, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
                .listing-product-detail__category
                  .listing-product-detail__category__2
            .new__mask__main__right__form-contents
              .new__mask__main__right__form-contents__title
                .new__mask__main__right__form-contents__title__content 
                  ブランド
              .new__mask__main__right__form-contents__form-btn
                = f.select :name , @brandcategory,{}, {class: "Exhibition__btn"} 
            .new__mask__main__right__form-contents
              .new__mask__main__right__form-contents__title
                .new__mask__main__right__form-contents__title__content 
                  商品の状態
                .new__mask__main__right__form-contents__title__color-content 
                  ※必須
              .new__mask__main__right__form-contents__form-btn
                = f.select :condition , @condition ,{}, {class: "Exhibition__btn"}
            .new__mask__main__right__line
            .new__mask__main__right__form-contents
              .new__mask__main__right__form-contents__title
                .new__mask__main__right__form-contents__title__content 
                  発送料の負担
                .new__mask__main__right__form-contents__title__color-content 
                  ※必須
              .new__mask__main__right__form-contents__form-btn
                = f.select :deliverycharge , @deliverycharge ,{}, {class: "Exhibition__btn"}
            .new__mask__main__right__form-contents
              .new__mask__main__right__form-contents__title
                .new__mask__main__right__form-contents__title__content 
                  発送日の目安
                .new__mask__main__right__form-contents__title__color-content 
                  ※必須
              .new__mask__main__right__form-contents__form-btn
                = f.select :spend , @deliveryspend ,{}, {class: "Exhibition__btn"}
            .new__mask__main__right__form-contents
              .new__mask__main__right__form-contents__title
                .new__mask__main__right__form-contents__title__content 
                  発送元の地域
                .new__mask__main__right__form-contents__title__color-content 
                  ※必須
              .new__mask__main__right__form-contents__form-btn
                = f.select :prefecture , @deliveryaddres ,{}, {class: "Exhibition__btn"}
            .new__mask__main__right__line
            .new__mask__main__right__form-contents
              .new__mask__main__right__form-contents__title
                .new__mask__main__right__form-contents__title__content 
                  商品価格
                .new__mask__main__right__form-contents__title__color-content 
                  ※必須
              .new__mask__main__right__form-contents__form-btn
                .new__mask__main__right__form-contents__form
                  = f.text_field :name, class: 'Product-name', placeholder: '¥300~¥2000000（js）'
            .new__mask__main__right__form-contents__Verification
              = f.submit '確認する', class: 'Verification-btn'
    .new__mask__main__under-items
      = link_to "#", class: "under-item-btn" do
        = "フリマ"
      = link_to "#", class: "under-item-btn" do
        = "マイページ"
      = link_to "#", class: "under-item-btn" do
        = "出品する"
  .index__footer 
    = render "footer2"



              
      
