.index
 .index__camera
  = link_to image_tag("icon_camera.png", class: "camera-btn", alt: "サンプル画像"), new_item_path
 = render "header"
 .index__main
  .index__main__categories
   -if @Grandparent.has_parent?
   -else
    =link_to "#",class:"index__main__item__content__table__table__tbody__tr__td__b" do
     =@Grandparent.name
     -if @category.has_parent?
      =link_to "#",class:"index__main__item__content__table__table__tbody__tr__td__b" do
       =@category.parent.name
       -if @category.has_parent?
        =link_to "#",class:"index__main__item__content__table__table__tbody__tr__td__b" do
         =@category.name

 .index__category
  .index__main__item
   .index__main__item__content
    .index__main__item__content__top
     %h2.index__main__item__content__top__h2 
      = @item.name
     .index__main__item__content__top__body
      %ul.index__main__item__content__top__body__ul
       %li.index__main__item__content__top__body__ul__li
        =image_tag @image.image.to_s,class: "index__main__item__content__top__body__ul__li__image"
        -if @item.order.nil?
        -else
         .items-box_photo__sold2
          .items-box_photo__sold__inner
           SOLD
        %ul.index__main__item__content__top__body__ul__ul
         - @images.each.with_index do |image, index|
          - if image.present?
           %li.index__main__item__content__top__body__ul__ul__li1
            =image_tag image.image.url,class:"index__main__item__content__top__body__ul__ul__li1__image"
          - else
           %li.index__main__item__content__top__body__ul__ul__li1
            =image_tag image.image.url,class:"index__main__item__content__top__body__ul__ul__li1__image"
         - if @images.length > 5
          - for i in 1..(10 - @images.length)
           .index__main__item__content__top__body__ul__ul__li1__image__dummy
    .index__main__item__content__price 
     -if @item.order.nil?
      %span.index__main__item__content__price__en
       = @item.price 
       .index__main__item__content__price__detail
       %spam.index__main__item__content__price__detail___tax (税込)
       %spam.index__main__item__content__price__detail___deliver 送料込み 
     -else
      .sold-out 売り切れ
    -if user_signed_in?
     -if @item.user_id == current_user.id
      .index__main__item__content-item
       = link_to edit_item_path(@item) ,class:"index__main__item__content__option2" do
        .index__main__item__content__option__edit 商品の編集ページへ
       = link_to item_path(@item), method: :delete, class: "index__main__item__content__option"  do
        .index__main__item__content__option__edit 出品商品の削除

    .index__main__item__content__detail
     ="詳細説明：　#{@item.text}"
    .index__main__item__content__table
     %table.index__main__item__content__table__table
      %tbody.index__main__item__content__table__table__tbody
       %tr.index__main__item__content__table__table__tbody__tr
        %th.index__main__item__content__table__table__tbody__tr__th 出品者
        %td.index__main__item__content__table__table__tbody__tr__td hoge
       %tr.index__main__item__content__table__table__tbody__tr
        %th.index__main__item__content__table__table__tbody__tr__th カテゴリー
        %td.index__main__item__content__table__table__tbody__tr__td 
         -if @Grandparent.has_parent?
         -else
          =link_to "#",class:"index__main__item__content__table__table__tbody__tr__td__a" do
           =@children.parent.name
         %br
         -if @category.has_parent?
          =link_to "#",class:"index__main__item__content__table__table__tbody__tr__td__a" do
           =@category.parent.name
         %br
         -if @category.has_parent?
          =link_to "#",class:"index__main__item__content__table__table__tbody__tr__td__a" do
           =@category.name

       %tr.index__main__item__content__table__table__tbody__tr
        %th.index__main__item__content__table__table__tbody__tr__th ブランド
        %td.index__main__item__content__table__table__tbody__tr__td 
       %tr.index__main__item__content__table__table__tbody__tr
        %th.index__main__item__content__table__table__tbody__tr__th 商品のサイズ
        %td.index__main__item__content__table__table__tbody__tr__td 
       %tr.index__main__item__content__table__table__tbody__tr
        %th.index__main__item__content__table__table__tbody__tr__th 商品の状態
        %td.index__main__item__content__table__table__tbody__tr__td 未使用に近い
       %tr.index__main__item__content__table__table__tbody__tr
        %th.index__main__item__content__table__table__tbody__tr__th 配送料の負担
        %td.index__main__item__content__table__table__tbody__tr__td 送料込み（出品者負担）
       %tr.index__main__item__content__table__table__tbody__tr
        %th.index__main__item__content__table__table__tbody__tr__th 発送元の地域
        %td.index__main__item__content__table__table__tbody__tr__td 岩手県
       %tr.index__main__item__content__table__table__tbody__tr
        %th.index__main__item__content__table__table__tbody__tr__th 発送日の目安
        %td.index__main__item__content__table__table__tbody__tr__td ４〜７日で発送
    .index__main__item__content__option
     %ul.index__main__item__content__option__ul
      %li.index__main__item__content__option__ul__li
       %icon.fa.fa-star
       お気に入り 0
     %ul.index__main__item__content__option__ul2
      %li.index__main__item__content__option__ul2__li
       =link_to "#" ,class: "index__main__item__content__option__ul2__li__a"do
        %icon.fa.fa-flag
        不適切な商品の通報
    .index__main__item__content__commentarea
     .index__main__item__content__commentarea__ul
     = form_with url: "#", class:"index__main__item__content__commentarea__form",local: true, method: :get do |f|
      = f.text_area :text, class:"index__main__item__content__commentarea__form__textarea" 
      %p.index__main__item__content__commentarea__form__p
       相手のことを考え丁寧なコメントを心がけましょう。
       %br
       不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %br
      %button.index__main__item__content__commentarea__form__submit
       %icon.fa.fa-comment
       コメントする
    -if user_signed_in?
     -if @item.user_id == current_user.id
      .index__main__item__content__commentarea__form__submit__link-Purchase
       = link_to "#", class: "main-Purchase-btn" do
        = "あなたの商品です"
     -else
      -if @item.order.nil?
       .index__main__item__content__commentarea__form__submit__link-Purchase
        = link_to item_card_index_path(@item), class: "main-Purchase-btn" do
         = "購入する"
      -else
       .index__main__item__content__commentarea__form__submit__link-Purchase
        = link_to "#", class: "main-Purchase-btn" do
         = "売り切れ"

    %ul.index__main__item__content__ul
     %li.index__main__item__content__ul__li
      =link_to "#" ,class:"index__main__item__content__ul__li__a" do
       %icon.fa.fa-angle-left
       %span
        前の商品
     %li.index__main__item__content__ul__li2
      =link_to "#" ,class:"index__main__item__content__ul__li2__a" do
       %span
        後ろの商品
       %icon.fa.fa-angle-right
    .index__main__item__content__relateditem
     =link_to "#" ,class:"index__main__item__content__relateditem__a" do
      このカテゴリーをもっとみる
%aside.index__showbarnner
 .index__showbarnner__inner
  %h2.index__showbarnner__inner__title
   だれでもかんたん、人生を変えるフリマアプリ
  %p.index__showbarnner__inner__text
   今すぐ無料ダウンロード！
  %icon.index__showbarnner__inner__icon
   =link_to "#" ,class:"index__showbarnner__inner__icon__a" do
    =image_tag "5a902db97f96951c82922874.png",class:"index__showbarnner__inner__icon__a__image"
   =link_to "#" ,class:"index__showbarnner__inner__icon__a2" do
    =image_tag "google-play-badge.png",class:"index__showbarnner__inner__icon__a2__image"

= render "footer"
 

